@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;500;700&display=swap');

/* basic code */
:root{
    --light-purple:#ad9fff;
    --gray:#dcdcdc;
    --purple:#e91e63;
    --dark-bg:#1e1e2e;
    --dark-card-bg:#2e2e3e;
}

*{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray);
    text-align: center;
    background: var(--dark-bg);
}
.purple{
    color: var(--purple);
}
.img-profile{
    weight:500px;
    height:650px;
}
.gray{
    color: var(--gray);
}
.light-purple{
    color: var(--light-purple);
}
.bg-nav{
    background: var(--dark-bg);
}
/* header section */
#home{
    background: var(--dark-card-bg);
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.8);
}
.about-img{
    margin-left:-100px;
    right:-60px;
}
.btn{
    padding:10px 25px;
    border-radius: 100px;
}
.btn-blue{
    border:2.4px solid var(--gray);
    color: var(--gray);
    background: var(--dark-bg);
}
.hero-text{
    margin-top: 150px;
}
.typed-cursor{
    font-size:45px;
    color: var(--light-purple);
}
.position-absolute{
    font-weight: 700;
}

/* navbar section */
a{
    color: var(--gray);
    text-decoration: none;
    background: transparent;
}
a:hover{
    color: var(--light-purple);
    text-decoration: underline;
}
/* .navbar-light{
    display: none;
} */
.navbar-light .navbar-nav .nav-link{
    padding:25px 10px;
    color: var(--gray);
    font-weight: 500;
    outline: none;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: var(--light-purple);
}
.card{
    margin-bottom: 15px;
    background: var(--dark-card-bg);
    box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.8);
}
.card:hover{
    box-shadow: 2px 5px 0px rgba(50, 50, 50, 0.6);
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
